H1 {
  color:blue;
  text-align: center;
  background-color:;
}
H1 {
  border-style: solid;
  border-color: black;
}

#Side {
   width: 200px;
   height: 800px;
   padding: 10px;
   border: 5px solid black;
   margin: 0;
}
