<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melody :)</title>
    <link rel="stylesheet" href="loginStyle.css" />
  </head>
  <body>
    <div class="main_container">
      <div class="login">
        <img src="Melody_Icon.png" />
        <form>
          <h1>Login To Melody</h1>
          <hr />
          <hr />
          <p>Or Sign up!</p>
          <label>Email</label>
          <input type="text" placeholder="Email" />
          <label>Password</label>
          <input type="password" placeholder="Password" />
          <button><span>Login</span></button>
          <p><a href="#">Sign up!</a></p>
        </form>
      </div>
      <div class="pic">
        <img id src="1stPage.jpg" />
      </div>
    </div>
  </body>
</html>
