/* Created by Kuldeep */
/* CSS for DashboardHome page */

.container-fluid {
  padding: 0px;
}
H1 {
  color: #1c77fd;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-color: #1c77fd;
}

#Side {
  width: 200px;
  height: 800px;
  padding: 10px;
  border: 5px solid red;
  margin: 0;
}

#mainRow {
  height: 100vh;
}

#col1 {
  padding: 0px;
}

/*JASON SEARCHBAR CHANGES */

#select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  width: 300px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

#select img {
  width: 15px;
}

#select ul {
  position: absolute;
  top: 60%;
  left: 0;
  list-style: none;
  background: #555;
  color: #999;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul.open {
  max-height: 300px;
}


