/*Joaquin made initial 2-18 lines */
/*Jason added the rest to make button pop up with the help of Jaimit finding the code 11/9/22 */
H1 {
  color: blue;
  text-align: center;
}
H1 {
  border-style: solid;
  border-color: black;
}

#Side {
  width: 200px;
  height: 800px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

.open-button {
  background-color: #555;
  color: white;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px; */
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 100px;
  border: 5px solid #000000;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 6000px;
  padding: 200px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Submit button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Cancel button color */
.form-container .cancel {
  background-color: red;
}

/* Adding Hover effect */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
