<!--Created by Kuldeep-->
<!--extending dashboard.html page for Navigation Bar-->
{% extends "dash_app/dashboard.html" %} {% block title%} Homepage{% endblock%}
{% block content %}

<!--svg is used for the symbol's in the playlist columns-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
    ></path>
  </symbol>
  <!--Collection symbol is the only symbol that is used in Playlist columns-->
  <symbol id="collection" viewBox="0 0 16 16">
    <path
      d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"
    />
  </symbol>
</svg>
<main>
  <!--Class to Home Dashboard page-->
  <!--Created by Kuldeep-->
  <div class="container-fluid px-4 py-5" id="featured-3">
    <!--Dashboard Title-->
    <h2 class="pb-2 border-bottom">Dashboard</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" id="row-1">
      <!--Column for Manual playlist generator-->
      <div class="feature col p-3 border bg-light">
        <div class="row p-2 d-flex justify-content-center">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient mb-3"
            id="item1"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection" />
            </svg>
          </div>
        </div>

        <div class="row p-2 d-flex justify-content-center">
          <h3 class="fs-2">Create New Playlist</h3>
        </div>
        <div class="row p-2 d-flex justify-content-center">
          <button
            id="create-playlist"
            name="button"
            type="button"
            class="btn btn-outline-primary"
          >
            Create
          </button>
          <!--Function to create playlist-->
          <!--Created by Kuldeep-->
          <script type="text/javascript">
            $(document).ready(function () {
              $("#create-playlist").modalForm({
                formURL: "{% url 'dash_app:create_playlist' %}",
              });
            });
          </script>
        </div>
      </div>

      <!--Jaimit created the forLoop fuction-->
      <!--Kuldeep did the BootStrap code-->
      <!-- loops from the playlist that are in database and displays it in the columns-->
      {% for playlist in object_list %}

      <div class="feature col p-3 border bg-light">
        <div class="row p-2 d-flex justify-content-center">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient mb-3"
            id="item1"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection" />
            </svg>
          </div>
        </div>
        <div class="row p-2 d-flex justify-content-center">
          <!--Get the playlist title from Database-->
          <h3 class="fs-2">{{playlist.playlist_title}}</h3>
        </div>
        <div class="row p-2 d-flex justify-content-center">
          <button
            id="display-playlist"
            name="button"
            type="button"
            class="btn btn-outline-primary"
          >
            view
          </button>
        </div>
      </div>
      {%endfor%}
      <!--Function to view the songs in playlist-->
      <!--Created by Kuldeep-->
      <script type="text/javascript">
        $(document).ready(function () {
          $("#display-playlist").modalForm({
            formURL: "{% url 'dash_app:display_playlist' %}",
          });
        });
      </script>
    </div>
  </div>
</main>
{% endblock %}
