<!-- HTML created by Jason Eissayou, Updated by Joaquin Johnson -->
<!--Kuldeep updated the href links for css and images -->
{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'media/dashboard.css' %}">
<head>
    <title>Dashboard</title>
</head>
<body>

<div class="DashboardTitle">
    <H1>Dashboard</H1>
</div>
  <div id = Side >
    <div id = MCI>
      <img src="{% static 'media/MelodyIcon.png' %}" alt="MelodyIcon" width="100" height="100">
    </div>
    <div class="SearchBar">
      <form>
        <input type="text" name="SearchBar" id = "SearchBar" />
      </form>
    </div>
    <br></br>

    <div class="playlist">
    </div>

    <div class = "ButtonPhotos">
      <img src="{% static 'media/HeartPhoto.png' %}" alt="HeartPhoto" width="20" height="20" id = HeartPhoto>
      <button type="button" id=preferences>Preferences</button>
      <br></br>
    </div>

    <div class="Buttons">
      <img src="{% static 'media/MusicNote.png' %}" alt="MusicNote" width="20" height="20" id = MusicNote>
      <button type="button" id=generator>Generate Playlist</button>
    </div>
</div>
</body>
</html>
