<!--Created by Kuldeep-->
<!-- Loads static files -->
{% load static %}

<section class="header">
  <!-- header source code from Bootstrap -->
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <div class="logo">
          <a href="/">
            <img alt="Qries" src="{% static 'media/Melody_Icon.png' %}" />
          </a>
        </div>

        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Dashboard</a></li> -->
        </ul>

        <!--  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="text-end">
          <!-- Login button -->
          <button
            type="button"
            class="btn btn-outline-light me-2"
            onclick="location.href = '/login'"
          >
            Login
          </button>
          <!-- Sign up button -->
          <button
            type="button"
            class="btn btn-warning"
            onclick="location.href = '/register'"
          >
            Sign-up
          </button>
        </div>
      </div>
    </div>
  </header>
</section>
